@model FriendZone.Models.ViewModels.FriendsInfoVM
<!DOCTYPE html>
<html>
<head>
	<title> Info </title>
</head>
<body>
	<h1>Find new Friends!</h1>

	<input type="button" id="findFriend" value="Find new Friends" />
</body>
</html>
